@model SendMe.ViewModels.SchoolViewModel

@{ ViewBag.Title = Model.School.Name; }


<!--------SCHOOL DETAILS---------->
<div class="profile-card school-card">
    <div class="card">
        <div class="card-img-top" style="background-image: url(@Model.CoverImg.FilePath)"></div>
        <img class="card-prof-pic" src="@Model.LogoImg.FilePath" />
        <div class="card-block">
            <h1 class="card-title"><a href="@Model.School.Website" target="_blank">@Model.School.Name</a></h1>
            @if (User.IsInRole("Admin") && ViewBag.UserSchId == Model.School.Id)
            {
                <h6 class="card-subtitle text-muted">
                    @Html.ActionLink("Edit", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </h6>
            }
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="card-group">

            <!-------------STUDENT DETAILS------------->
            @foreach (var student in Model.Students)
            {
                <div class="col-sm-12 col-lg-4">
                    <div class="profile-card sm-prof-card">
                        <div class="card">
                            <div class="card-img-top"></div>
                            <a href="../send/@student.Student.User.UserName">
                                <img class="card-prof-pic-sm image-fluid" src="@student.Upload.FilePath" />
                            </a>
                            <div class="card-text">
                                <h2 class="card-title">
                                    @student.Student.FirstName @student.Student.LastName
                                </h2>
                            </div>
                            <div class="card-block">
                                @if (student.ActiveTrip != null)
                                {
                                    <h4>@student.ActiveTrip.Trip.DestinationCity in
                                    @student.ActiveTrip.Trip.DestinationState,
                                    @student.ActiveTrip.Trip.DestinationCountry</h4>
                                    <sup>@student.ActiveTrip.Trip.Dates</sup>
                                    <p style="text-align: right">@student.ActiveTrip.Trip.PercentOfAmnt% Raised</p>                                                                    
                                }
                                else
                                {
                                    <h4>@student.Student.FirstName does not have any active trips.</h4>
                                }
                                <div data-toggle="tooltip" data-placement="top" data-original-title="Share Link" style="float:right">
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-toggle="collapse" data-target="@("#sendmeUrl" + student.Student.Id)">
                                    </span>
                                </div>
                                <p id="@("sendmeUrl" + student.Student.Id)" class="collapse">
                                    <strong>@student.Student.FirstName's SendMe! URL:</strong>
                                    sendme.com/send/@student.User.UserName
                                </p>    
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>