@model SendMe.Models.School

@{
    ViewBag.Title = "Manage";
    ViewBag.Type = "School";
}

<h2>Manage Your School</h2>
<h6 class="text-muted" style="text-align:center">
    <a href="~/school/@Model.Id">View School Profile</a>
</h6>
<hr />
<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    @using (Html.BeginForm("Manage", "School", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

    <!--Name-->
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

    <!--Website-->
        <div class="form-group">
            @Html.LabelFor(m => m.Website, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="url" class="form-control" name="Website" id="schUrl" value="@Model.Website" />
                <p id="urlError" class="alert-warning"></p>
            </div>
        </div>

    <!--Submit-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    }

    <!--Cover Image and Logo-->
    @Html.Partial("_Upload", new SendMe.Models.UploadViewModel())

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

