
@if (Model.User.UserName == User.Identity.Name && Model.ActiveTrip != null)
{
    <div class="container">
        <button id="viewDonBackBtn" type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="left" title="Go Back"><i class="glyphicon glyphicon-arrow-left"></i></button>
    </div>
    <div id="donationsPanel">
        @{int i = 0;}
        @{int r = 0;}
        @foreach (var donation in Model.ActiveTrip.Donations)
        {
            @*r++;
                if (r == 3)
                {
                    @Html.Raw("<div class=row>");
                }*@
            <div class="col-sm-12">
                <script> var Di = @i;</script>
                <div class="panel-group" id="accordion_@i" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" id="panel_@i">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" id="accBtn_@i" data-parent="#accordion_@i" aria-expanded="true" aria-controls="collapseAcc_@i" data-target="#collapseAcc_@i">
                                    <h5>
                                        $@donation.Amount.00 from @donation.Donor.Name
                                        @donation.Created.ToString("dd MMM yyyy")
                                    </h5>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseAcc_@i" class="panel-collapse glyphicon-collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body" id="accPanalBody">
                                @if (@donation.DonationMsg != null)
                                {
                                    <p>@donation.Donor.Name says " @donation.DonationMsg "</p>
                                }
                                @if (donation.HaveThanked == false && donation.Donor.Name != "Anonymous")
                                {
                                    <div id="@("thanks" + donation.Id)">
                                        @using (Html.BeginForm("SendThankYou", "User", new { donId = donation.Id, stuId = Model.Student.Id }, FormMethod.Post))
                                        {
                                            @*<div class="form-actions no-color">*@
                                                <label for="#thnksMsg">Send a thank you note!</label>
                                                <textarea rows="5" id="thanksMsg" name="thxMsg"></textarea>
                                                <button type="submit" class="btn btn-success" id="sendThanksBtn" value="sendThanks">
                                                    <span class="glyphicon glyphicon-send"> Send</span>
                                                </button>
                                            @*</div>*@
                                        }
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            i++;
            if (r == 3)
            {
                @Html.Raw("</div>");
            }
            if (r == 3)
            { r = 0; }
        }
    </div>
            }