@model SendMe.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.CurrentUser = User.Identity.Name;
    ViewBag.userProfile = Model.Student.User.UserName;
}
<!-----------PROFILE PIC------------->
<div class="row profile-header">
    <div class="col-md-12 text-center marb-35">
        <img class="thumb profile-pic" src="@Model.Upload.FilePath" style="max-width: 300px" />

        <!-----------HEADER------------->
        <h1 class="header-h">@Model.Student.FirstName @Model.Student.LastName</h1>
        <p>
            @Model.School.Name
        </p>
        @if (Model.User.UserName == User.Identity.Name)
        {
            <h4 id="manageAcct">
                @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </h4>
        }
        <p class="header-p">
            @Model.Student.Bio
        </p>
        <p>
            @Model.User.Email
        </p>
        <p>
            @Model.Student.Year
        </p>
        <p>
            @Model.Student.Speciality
        </p>
    </div>
</div>


    <div class="row">
        <div class="col-md-12">
            <h3>@Model.ActiveTrip.Trip.Title</h3>
            <sub>@Model.ActiveTrip.Trip.Dates</sub>
            <p>
                @Model.ActiveTrip.Trip.Desc
            </p>
            <p>
                @Model.ActiveTrip.Trip.Destination <br />
                $@Model.ActiveTrip.Trip.TargetAmnt
            </p>
            @Html.ActionLink("Donate", "Payment", "Donation", new { tripId = @Model.ActiveTrip.Trip.Id }, null)
        </div>
    </div>

<!-----------Progress bar------------->
<script type="text/javascript">

        var targetAmount = Model.ActiveTrip.Trip.TargetAmnt;
    @{ 
        var totalDonation = 0.0;
     
        foreach (var donation in Model.ActiveTrip.Donations)
        {
            totalDonation += (double)donation.Amount;
        }
        if (totalDonation >= Model.ActiveTrip.Trip.TargetAmnt)
        {
            totalDonation = Model.ActiveTrip.Trip.TargetAmnt;
        }

        var currentTotal = @totalDonation;
    }
</script>

<div class="container">
    <div id="goal"></div>
</div>

<!-----------Modal for donations------------->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Check Donations
    </button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Donations</h4>
            </div>
            <div class="modal-body">

                @foreach (var donation in Model.ActiveTrip.Donations)
                {
                    <h4>Donor Name : @donation.Donor.Name</h4>
                    <p>
                        Donation Amount:$ @donation.Amount
                    </p>
                    <p>
                        @if (donation.HaveThanked == false)
                        {
                            @Ajax.ActionLink("Thank for Donation", "Index", new { donationId = donation.Id },
                                 new AjaxOptions
                                 {
                                     UpdateTargetId = "myModel",
                                     LoadingElementId = "progress",
                                     OnSuccess = "disablelink",
                                 },
                            new { @class = "btn btn-success" })
                        }
                    </p>
                }
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
