@model SendMe.Models.StudentViewModel

@{
    ViewBag.Title = Model.Student.FirstName + Model.Student.LastName;
    ViewBag.currentUser = User.Identity.Name;
    ViewBag.userProfile = Model.User.UserName;
}
<div class="col-sm-12 col-md-6">
    <!--Card-->
    <div class="profile-card">
        <div class="card">

            <!-----------------------
                  IMAGES
            ------------------------>
            <div class="card-img-top"></div>
            <img class="card-prof-pic" src="@Model.Upload.FilePath" />

            <!-----------------------
                  PERSON DETAILS
            ------------------------>
            <div class="card-block">
                <h1 class="card-title">@Model.Student.FirstName @Model.Student.LastName</h1>
                <h6 class="card-subtitle text-muted"><a href="../school/@Model.School.Id">@Model.School.Name</a></h6>
                <div class="card-text">

                    <p>
                        @Model.Student.FirstName is a @Model.Student.Year student at @Model.School.Name, specializing in
                        @Model.Student.Speciality! You can reach @Model.Student.FirstName at @Model.User.Email.
                    </p>
                    @if (Model.Student.Bio != null)
                    {
                        <div class="bio">
                            @Model.Student.FirstName says...<br />
                            <blockquote class="blockquote">
                                <p>@Model.Student.Bio </p>
                            </blockquote>
                        </div>
                    }
                    <hr />
                    <div class="stuProfShare">
                        <ul class="social-icons">
                            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <strong>Help @Model.Student.FirstName get the word out!</strong>
                        <br />
                        <p>sendme.com/send/@Model.User.UserName</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.Card-->
</div>

<!-----------------------
      TRIP DETAILS
------------------------>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="trip-card">
            <div class="card">
                <div class="card-block">

                    <!-----------TRIP MENU CREATION AND EDITING------------->
                    @if (Model.ActiveTrip == null && ViewBag.userProfile == ViewBag.currentUser)
                    {
                        <!--Add First Trip-->
                        if (Model.Trips.Count == 0)
                        {
                            <div class="row">
                                <h3>Add your trip!</h3>

                                <div id="tripPartial">
                                    @{Html.RenderPartial("_CreateTrip", new SendMe.Models.Trip());}
                                </div>
                            </div>
                                        }
                                        else
                                        {
                                <!--Show Inactive Trips if none Active-->
                                            <div class="row" id="inactiveTrips">
                                                <h3>Inactive Trips</h3>
                                                <hr />
                                                <ul>
                                                    @foreach (var trip in Model.Trips)
                                                    {
                                                        <li>
                                                            @trip.Title - @trip.Destination, @trip.Dates
                                                        </li>
                                                        <li>
                                                            @using (Html.BeginForm("MakeActive", "Trip", new { id = trip.Id }, FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <button type="submit" class="btn btn-primary" id="btnMakeActive" value="MakeActive">
                                                                    <span class="glyphicon glyphicon-plus-sign"> Make Active</span>
                                                                </button>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <!--Create New Trip-->
                                                <h3>Add New</h3>
                                                <div id="tripPartial">
                                                    @{Html.RenderPartial("_CreateTrip", new SendMe.Models.Trip());}
                                                </div>
                                            </div>
                                                            }
                                                        }
                                                        else if (Model.ActiveTrip == null && ViewBag.userProfile != ViewBag.currentUser)
                                                        {
                                                            <h3>@Model.Student.FirstName hasn't added any trips! Please check back later.</h3>
                                                        }
                                                        else
                                                        {
                                                    <!--Trip Cancellation-->
                                                            <div class="row">
                                                                <div id="confirmCancel">
                                                                    <h2>Are you sure you want to cancel this trip?</h2>
                                                                    <h4>
                                                                        Your school's administrator will be notified and will have the option
                                                                        to notify all donors of the cancellation.
                                                                    </h4>
                                                                    @using (Html.BeginForm("Cancel", "Trip", new { id = Model.ActiveTrip.Trip.Id }, FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <div class="form-actions no-color">
                                                                            <button type="submit" class="btn btn-danger" id="btnConfirmCancel" value="Cancel">
                                                                                <span class="glyphicon glyphicon-remove-sign"> Cancel</span>
                                                                            </button>
                                                                            <a href="#" class="btn btn-default" id="dontCancel">
                                                                                <span class="glyphicon glyphicon-ban-circle"> Don't Cancel</span>
                                                                            </a>
                                                                            <br />
                                                                        </div>
                                                                    }
                                                                </div>

                                                                <!----------------------------------------
                                                                            Active Trip Details
                                                                ---------------------------------------->

                                                                <div class="tripDetails">
                                                                    <!-----Details------>
                                                                    <h3>
                                                                        @Model.ActiveTrip.Trip.Title
                                                                    </h3>
                                                                    <p>
                                                                        @Model.ActiveTrip.Trip.DestinationCity in
                                                                        @Model.ActiveTrip.Trip.DestinationState, @Model.ActiveTrip.Trip.DestinationCountry
                                                                    </p>
                                                                    <sup>
                                                                        @Model.ActiveTrip.Trip.Dates
                                                                    </sup>
                                                                    <div style="float:right">
                                                                        <sup>More About This Trip</sup>
                                                                        <span class="glyphicon glyphicon-chevron-down"
                                                                              data-toggle="collapse" data-target="#tripDescription">
                                                                        </span>
                                                                    </div>
                                                                    <div id="tripDescription" class="collapse">
                                                                        <!-------Description------>
                                                                        <hr />
                                                                        <p>
                                                                            @Model.ActiveTrip.Trip.Desc
                                                                        </p>
                                                                    </div>
                                                                    <br/><br/>
                                                                    <!-------------MAP------------>
                                                                    <div id="map" style="height: 400px; border: 3px solid #DADEE0;"></div><br />

                                                                    <!-----------Progress bar------------->
                                                                    <div class="col-sm-10">
                                                                        <div class="progress">
                                                                            <div id="progress-bar" class="progress-bar" role="progressbar"
                                                                                 aria-valuemin="0" aria-valuemax="100" ">
                                                                            </div>
                                                                        </div>
                                                                        <h3>
                                                                            <strong id="currentTotal"></strong> out of
                                                                            <span id="targetAmount"></span>
                                                                        </h3>
                                                                        <sup>Deadline: @Model.ActiveTrip.Trip.Deadline</sup>
                                                                    </div>

                                                                    <script type="text/javascript">

                                                                        var targetAmount = '@ViewBag.TargetAmount';
                                                                        var currentTotal = '@ViewBag.CurrentTotal';
                                                                        var currentCountry = '@Model.ActiveTrip.Trip.DestinationCountry';
                                                                        var currentCity = '@Model.ActiveTrip.Trip.DestinationCity';

                                                                    </script>

                                                                    <!----------------------------------------
                                                                    Trip Menu Buttons
                                                                        http://codepen.io/apocheau/pen/EKeZgg
                                                                    ---------------------------------------->
                                                                    <div class="col-sm-2">
                                                                        <div class="container-fluid">
                                                                            <!-----DONATION BUTTON------>
                                                                            @if (ViewBag.userProfile != ViewBag.currentUser)
                                                                            {
                                                                                <div class="btn-group">
                                                                                    <a href="#" class="btn btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Add Donation" title="" id="donateMain">
                                                                                        <i class="material-icons">
                                                                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                                                                <path fill="#FFF" d="M11,4.5H13V15.5H11V4.5M13,17.5V19.5H11V17.5H13Z" />
                                                                                            </svg>
                                                                                        </i>
                                                                                    </a>
                                                                                </div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="btn-group-sm hidden" id="mini-fab">
                                                                                    <!--VIEW DONATIONS-->
                                                                                    <span data-toggle="modal" data-target="#donationsModal">
                                                                                        <button type="button" class="btn btn-fab miniMenu" data-toggle="tooltip" data-placement="left" data-original-title="Donation List" id="viewDonationsBtn">
                                                                                            <i class="material-icons">
                                                                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                                                                    <path fill="#98012e" d="M9,5V9H21V5M9,19H21V15H9M9,14H21V10H9M4,9H8V5H4M4,19H8V15H4M4,14H8V10H4V14Z" />
                                                                                                </svg>
                                                                                            </i>
                                                                                        </button>
                                                                                    </span>
                                                                                    <!--ADD DONATION-->
                                                                                    <a href="#" class="btn btn-fab miniMenu" data-toggle="tooltip" data-placement="left" data-original-title="Add Donation" title="" id="donateBtn">
                                                                                        <i class="material-icons">
                                                                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                                                                <path fill="#98012e" d="M11,4.5H13V15.5H11V4.5M13,17.5V19.5H11V17.5H13Z" />
                                                                                            </svg>
                                                                                        </i>
                                                                                    </a>
                                                                                    <!--CANCEL TRIP-->
                                                                                    <a href="#" class="btn btn-fab miniMenu" data-toggle="tooltip" data-placement="left" data-original-title="Cancel" title="" id="cancel">
                                                                                        <i class="material-icons">
                                                                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                                                                <path fill="#98012e" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
                                                                                            </svg>
                                                                                        </i>
                                                                                    </a>
                                                                                    <!--EDIT TRIP-->
                                                                                    <a href="#" class="btn btn-fab miniMenu" data-toggle="tooltip" data-placement="left" data-original-title="Edit" title="" id="editTripBtn">
                                                                                        <i class="material-icons">
                                                                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                                                                <path fill="#98012e" d="M16.84,2.73C16.45,2.73 16.07,2.88 15.77,3.17L13.65,5.29L18.95,10.6L21.07,8.5C21.67,7.89 21.67,6.94 21.07,6.36L17.9,3.17C17.6,2.88 17.22,2.73 16.84,2.73M12.94,6L4.84,14.11L7.4,14.39L7.58,16.68L9.86,16.85L10.15,19.41L18.25,11.3M4.25,15.04L2.5,21.73L9.2,19.94L8.96,17.78L6.65,17.61L6.47,15.29" />
                                                                                            </svg>
                                                                                        </i>
                                                                                    </a>
                                                                                </div>
                                                                            <!--MAIN MENU BTN-->
                                                                                <div class="btn-group">
                                                                                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Trip Menu" id="tripMenuMain">
                                                                                        <i class="material-icons">
                                                                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                                                                <path fill="#FFF" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                                                                                            </svg>
                                                                                        </i>
                                                                                    </a>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <!-------------------------
                                                                        Edit Trip Form
                                                                -------------------------->
                                                                <div id="editTripToggle">
                                                                    <div id="tripPartial">
                                                                        <h1>Edit Your Trip</h1>
                                                                        @{Html.RenderPartial("_CreateTrip", Model.ActiveTrip.Trip);}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                            }


                    <!-----------Partial View For Payment------------->
                    @if (Model.ActiveTrip != null)
                    {
                        <div id="donateToggle">
                            @Html.Partial("_PaymentPartial")
                            <script language="JavaScript" type="text/javascript">
                                var pubKey = '@System.Configuration.ConfigurationManager.AppSettings["PubKey"]';
                                var tripId = '@Model.ActiveTrip.Trip.Id';
                                var userName = '@ViewBag.UserName';
                                var paymentMsg = '@ViewBag.PaymentMsg';
                                var email = '@ViewBag.Email'

                            </script>
                        </div>
                    }
                    <!-----------View Donations Partial------------->
                    @if (Model.User.UserName == User.Identity.Name && Model.ActiveTrip != null)
                    {
                        <div id="viewDonationsToggle">
                            @Html.Partial("_ViewDonationsPartial")
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<!-----------Successful Payment Message------------->
<div id="paymentSuccessToggle">
    @Html.Partial("_PaymentSuccessPartial")
</div>

<!-----------Failed Payment Message------------->
<div id="paymentFailedToggle">
    @Html.Partial("_PaymentFailedPartial")
</div>

