@model SendMe.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}
<!-----------PROFILE PIC------------->
<div class="row profile-header">
    <div class="col-md-12 text-center marb-35">
        <img class="thumb profile-pic" src="https://www.materialist.com/static/new_store/images/avatar_placeholder.svg" style="max-width: 300px" />

        <!-----------HEADER------------->
        <h1 class="header-h">@Model.FirstName @Model.LastName</h1>
        <p class="header-p">
            @*
                <h4 id="manageAcct">
                -------ADD JS TO SHOW MANAGE LINK-----------
                @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </h4>
            *@
            @Model.Bio
        </p>
        <p>
            <ul>
                <li>
                    @Model.Email
                </li>
                <li>
                    @Model.School.Name
                </li>
                <li>
                    @Model.Year
                </li>
                <li>
                    @Model.Speciality
                </li>
            </ul>
        </p>
    </div>
</div>